{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}

    <div class="mt-5">
        <img class="img" src="{{ asset('img/dib1.png') }}" alt="Figura" height="60px">
        <h2 class="d-inline ml-4"> Taller Euclides & Hilbert</h2>
    </div>
    <h3 class="my-4">Solicitudes</h3>

     <table id="registros" class="table table-striped">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Nombre</th>
                <th>Correo</th>
                <th>Universidad</th>
                <th>Semestre</th>
                <th>Promedio</th>
            </tr>
        </thead>
        <tbody>
        {% for registro in registros %}
            <tr>
{#                <td>{{ registro.id }}</td>#}
                <td><a href="{{ path('registro_show', {'slug': registro.slug }) }}">{{ registro.nombre|title }} {{ registro.apellidos|title }}</a></td>
                <td>{{ registro.correo }}</td>
                <td>{{ registro.universidad }}</td>
                <td>{{ registro.semestre }}</td>
                <td>{{ registro.promedio }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#registros').DataTable();
        } );
    </script>

{% endblock %}